extends layout

block container
  h2 Andrew Schaaf
  p I'm a full-stack engineer, currently on an open source spree.

  table.github
    tr
      td.github-icon
        img.github-icon(src=GITHUB_ICON64)
      td.github-username
        a(href='https://github.com/andrewschaaf') andrewschaaf
    tr
      td.github-icon
        img.github-icon(src=GITHUB_ICON64)
      td.github-username
        a(href='https://github.com/ReclaimSoftware') ReclaimSoftware
    tr
      td.github-icon
        img.github-icon(src=GITHUB_ICON64)
      td.github-username
        a(href='https://github.com/BitcoinFeed') BitcoinFeed
